cache/*
log/*
lib/model/om/*
lib/model/map/*
lib/form/base/*
lib/filter/base/*
data/sql/*
data/fixtures/*
nbproject
.idea
plugins/.*
plugins/sfPropel15Plugin
plugins/sfPropelActAsBlameableBehaviorPlugin
plugins//sfMediaBrowserPlugin
plugins//sfPropel15Plugin
plugins//sfPropelActAsBlameableBehaviorPlugin
