
/* Header */

.uapv_wrapper {
}

.uapv_header {
  background: #494846;
  background: -moz-linear-gradient(#DCD9D5 0%, #D1CDC8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DCD9D5), color-stop(100%, #D1CDC8));
}

.uapv_header h1 {
  height: 86px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 70px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 2.5em;
}

.uapv_header h1 ._z_ {
  color: #4A85B0;
}

.uapv_header h1 span.tagline {
  font-size: 0.45em;
  display: block;
  font-weight: normal;
  letter-spacing: -0.03em;
  margin-top: -3px;
  color: rgba(0,0,0,0.4);
  text-shadow: none;
}

/* Forms */

form ul.fields {
    margin: 0;
}

form ul.fields li {
    list-style: none;
    margin: 0.5em 0;
}

form label {
    display: block;
    margin: 0.5em 0;
    color: #5D5448;
    font-size: 1.1em;
}


/* Edit group page */

.group_form {

}
.group_form #name span {
    font-size: larger;
}
.group_form #title input {
    width: 90%;
}
.group_form #description textarea {
    width: 98%;
}
.group_form #is_public label {
    display: inline;
}

.group_members {
    position: relative;
    padding-bottom: 4em;
    padding-right: 26.5em;
}
.group_members #new_member {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #D4D0C9;
    padding: 0 2em 1em 2em;
}
.group_members #new_member input#autocomplete_user {
    width: 200px;
}

.ui-autocomplete a .user_email {
    font-size: 0.7em;
    color: #AAA;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
}

.group_members .users {
  margin: 0;  
}

.group_members .users li .invitation_pending ,
.group_members .users li .user_delete {
  position: absolute;
  top: 1.2em;
  text-indent: -3000px;
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
#resend_group_invitations ,
.group_members .users li .invitation_pending {
  right: 3.3em;
  padding-right: 28px;
  text-indent: 0;
  width: auto;
  background: transparent url(../images/icons/mail-resend.png) no-repeat right center;
}
#resend_group_invitations {
  background-position: left bottom;
  padding: 2em 0 0.5em 28px;
  display: block;
}
.group_members .users li .invitation_pending a {
  color: #E49A06;
  font-style : italic;
}
.group_members .users li .user_delete {
  right: 1em;
  background: transparent url(../images/icons/list-remove.png) no-repeat right center;
}
.group_members .users li .user_email {
  display: block;
}


/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 200px;
}

/* Group list */

.group_index h2 {
  position: relative;
}
.group_index h2 a.button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6em;
  padding: 10px 15px ;
	/*
  padding-left: 40px;
  background-image: url(../images/icons/new-group.png);
  background-repeat: no-repeat;
  background-position: 10px center;
	*/
}

.group_list {
  margin: 0 0 2em 0; 
}
.group_list li.group {
  padding: 0.5em 1.3em;
}
.group_list li.group .group_mail a:hover ,
.group_list li.group:hover a {
  color: #1E52A1;
}
.group_list li.group a {
  color: #59554D;
  text-decoration: none;
}
.group_list li.group .group_mail a {
  color: #77736A;
}
.group_list li.group .group_title {
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0;
}
.group_show .group_mail ,
.group_list li.group .group_mail {
  padding-right: 20px;
  line-height: 16px;
  height: 16px;
  background: transparent url(../images/icons/mail-message-new.png)  no-repeat right center;
  display: inline;
}

/* group show */

.group_show h2.group_title {
  margin-bottom: 0;
}


/* Login Form */

#login_page {
  width: 270px;
  margin: 3em auto;
}
#login_page .login_block {
  padding: 15px;
  background: #494846;
  background: -moz-linear-gradient(#494846 0%, #31302C 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494846), color-stop(100%, #31302C));
  -moz-border-radius:     7px;
  -webkit-border-radius:  7px;
  border-radius:          7px;
}
#login_page .login_block a {
  color: white;
}
#login_page .login_block p {
    margin: 0 0 10px 0;
}
#login_page .login_block label {
  display: block;
  color: #BBB;
  text-shadow: 1px 1px 3px #222;
}
#login_page a.button,
#login_page input {
  width: 210px;
  padding: 5px;
}
#login_page input {
  font-size: 1.2em;
}
#login_page .login_block p#submit-login {
    padding: 10px 0 5px 0;
    text-align: center;
}
#login_page .login_block p#submit-login input {
  font-size: 1em;
}
input.password ,
input.username ,
#login_page .login_block input.username ,
#login_page .login_block input.password {
    padding-left: 21px;
    background-repeat: no-repeat;
    background-position: 3px center;
}
input.password {
    background-image: url(../images/icons/keys.png);
}
input.username {
    background-image: url(../images/icons/user.png);
}
.auth_method_title {
		color: white;
		text-align: center;
		font-size: 1.1em;
		font-weight: bold;
		letter-spacing: -1px;
}
.auth_method_separator {
		text-align: center;
		font-size: 1.7em;
		font-weight: bold;
		letter-spacing: -1px;
		margin: 0.5em 0;
		color: #B9B5AF;
  text-shadow: 1px 1px 1px #FFF;
}
.auth_logo {
		margin: 0 auto 0.7em auto;
		display: block;
}

/* Breadcrumb */

ul#breadcrumb {
  margin: 0;
  padding: 0.6em 2em;
  background: #B7B4B0;
  background: -moz-linear-gradient(#B7B4B0 70%, #A7A49F 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #B7B4B0), color-stop(100%, #A7A49F));
  border-bottom: 1px solid #918D89;
}
ul#breadcrumb ,
ul#breadcrumb li a:hover {
  color: #565553;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
ul#breadcrumb li a {
  text-decoration: none;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
ul#breadcrumb:hover a {
  text-decoration: underline;
}
ul#breadcrumb li {
		margin-left: 0px;
		padding-right: 15px;
    list-style: none;
		display: inline;
		background: transparent url(../images/breadcrumb_separator.png) no-repeat right center;
}
ul#breadcrumb li:first-child {
		margin-left: 0px;
}
ul#breadcrumb li:last-child {
		background: none;
}

/* Shinny box */

.form_actions ,
.group_list li.group ,
.group_members .users li {
  padding: 0.7em 1.5em;
  background: #F6F5F3;
  list-style: none;
  border: 1px solid #E2E0E0;
  position: relative;
  background: -moz-linear-gradient(#FFF 30%, #F5F4F3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #FFF), color-stop(100%, #F5F4F3));
}
/*
.group_list li.group:hover ,
.group_members .users li:hover {
  background: -moz-linear-gradient(#F5F4F3 30%, #FFF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #F5F4F3), color-stop(100%, #FFF));
  -moz-box-shadow:	  inset 0px 1px 3px rgba(0,0,0,0.06);
	-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.06);
	box-shadow:				  inset 0px 1px 3px rgba(0,0,0,0.06);
}
*/
.group_list li.group + li ,
.group_members .users li + li {
  border-top: none;
}
.group_list li.group:first-child ,
.group_members .users li:first-child {
  -moz-border-radius-topright:     5px;
  -webkit-border-top-left-radius:  5px;
  border-radius-topright:          5px;
  -moz-border-radius-topleft:      5px;
  -webkit-border-top-right-radius: 5px;
  border-radius-topleft:           5px;
}
.group_list li.group:last-child ,
.group_members .users li:last-child {
  -moz-border-radius-bottomright:     5px;
  -webkit-border-bottom-left-radius:  5px;
  border-radius-bottomright:          5px;
  -moz-border-radius-bottomleft:      5px;
  -webkit-border-bottom-right-radius: 5px;
  border-radius-bottomleft:           5px;
}
.form_actions {
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
}

/* qtip */

.ui-tooltip-dark .ui-tooltip-wrapper{
	border: none;
	background-color: #505050;
	background-color: rgba(0,0,0,0.8);
  -moz-box-shadow:	  0px 1px 15px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 1px 15px rgba(0,0,0,0.4);
	box-shadow:				  0px 1px 15px rgba(0,0,0,0.4);
  -webkit-border-radius: 3px;
	color: #f3f3f3;
}
